/* Start Globale Rules */

/* Start fonts */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
      url('../fonts/SFProDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
      url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
      url('../fonts/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
      url('../fonts/SFProDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
      url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
/* End fonts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, div, button, input {
  font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

:focus{
  outline: none;
}

/* End Globale Rules */

/* Start Sec1 */
.sec1 {
  background-color: #f0f2f5;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sec1 .col-6 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec1 .col-6:first-of-type .item {
  margin-left: 140px;
  margin-top: 50px;
}

@media (max-width: 1075px) {
  .sec1 .col-6:first-of-type .item {
    margin-left: 80px;
  }
}

.sec1 .img-holder {
  width: 300px;
  margin-bottom: 16px;
  margin-right: auto;
}

.sec1 .img-holder img {
  max-width: 100%;
}

.sec1 h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  margin-right: auto;
}

@media (max-width: 1075px) {
  .sec1 h1 {
    width: 400px;
  }
}

.sec1 .card {
  width: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  padding: 10px 15px 20px;
}

.sec1 form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dadde1;
}

.sec1 .form-row {
  display: flex;
  padding: 6px 0;
  width: 346px;
}


.sec1 .form-row input,
.sec1 .form-row button {
  flex-grow: 1;
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 14px 16px;
  border-radius: 6px;
  font-size: 17px;
}

.sec1 .form-row:not(:last-of-type) input:focus {
  outline: 1px solid #1877f2;
}

.sec1 .form-row button {
  background-color: #1877f2;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.sec1 .forget-pswd {
  display: block;
  padding: 15px 0 20px;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.sec1 .forget-pswd:hover {
  text-decoration: underline;
}

.sec1 .card > button {
  display: block;
  width: auto;
  margin: 30px auto 0;
  border: none;
  font-size: 17px;
  line-height: 48px;
  font-weight: bold;
  border-radius: 6px;
  padding: 0 20px;
  color: #fff;
  background-color: #42b72a;
  cursor: pointer;
  transition: 0.3s;
}

.sec1 .card > button:hover {
  background-color: #36a420;

}

.sec1 .line {
  margin: 28px 0 0;
  color: #1c1e21;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.34;
}

.sec1 .line a {
  color: #1c1e21;
  font-size: 14px;
  font-weight: 600;
}

.sec1 .line a:hover {
  text-decoration: underline;
}
/* End Sec1 */


